main {
    background-color: #f5f4f8;
}

#user-pic {
    object-fit: cover;
    border-radius: 50%; 
}

#bellIcon {
    background-color: rgb(115, 115, 115);
    border-radius: 50%;
    width: 35px; 
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px
}

#hero {
    background-color: #7550fe;
}

#courses-btn {
    background-color: #1acb98 !important;
}

#instructor-btn {
    background-color: #ffffff;
    color: black;
}

.card {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.icon-container {
    border-radius: 50%; 
    width: 50px;
    height: 50px; 
    background-color: #ffeeda
}

#hero-bottom {
    padding-bottom: 20px; 
    border-bottom: 1px solid gray; 
}

.save-btn {
  border: 0px;
  background: none; 
}


.bookmark-icon {
    fill: white; 
}
 
 
.bookmark-icon:hover {
    fill: black;
    cursor: pointer;
    transition: fill 0.1s linear 0.25s;
}

